.container {
  display: flex;
  height: 100vh;
}


.box h2  {
  content: "";
  Color:#00FF00;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h2::after {
  content: "";
  width: 3px;
  height: 16px;
  background: #00FF00;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}


